body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

#hr1 {
height:3px;border:none;border-top:1px solid red;margin-top:1px;
}

body {
	font-size:18px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
}

a{ 
  font-size:120%;
  color:#000000;
  font-weight:bold;
  text-decoration:none;
}

a.title {
  font-size:150%;
}

a:hover{ text-decoration:none;}

#header {
	position:absolute;
	top:0; left:0;
	width:100%;
	height:45px;
	line-height:45px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
	background-image:-moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
	background-image:-o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
	padding:0;
	color:#eee;
	text-align:center;
}

#header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

ul#nav{ 
	width:100%; 
	height:60px; 
	margin:0 auto;
} 

ul#nav li{
	display:inline; 
	height:80px;
} 

ul#nav li a{
	display:inline-block; 
	padding:0 10px; 
	height:60px;
	color:#FFF; 
	font-family:"\5FAE\8F6F\96C5\9ED1"; 
	font-size:100%;
} 

/*设置鼠标滑过或悬停时变化的背景颜色*/ 
ul#nav li a:hover{
	padding:0 10px;
	background:#0095BB;
}

#newsli11 {
 height:150px;
}

#wrapper {
	position:absolute; z-index:1;
	top:45px; 
	bottom:1px; 
	left:0;
	width:100%;
	background:#555;
	overflow:auto;
}

#listhr {
 border-top:1px solid #555;
}

#scroller li {
	padding-top:10px;
	padding-left:20px;
	height:95px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
}

#scroller li > a {
	display:block;
}

/**
 *
 * 下拉样式 Pull down styles
 *
 */
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:60%;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

